* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-align: center;
  font-family: "Red Hat Display", sans-serif;
  border: 1px solid red;
}

body {
  background: hsl(0, 0%, 100%);
  min-height: 100vh;
}

main {
  width: 100vw;
  height: 100vh;
  background: hsl(30, 38%, 92%);
  display: grid;
  place-items: center;
  background: url("./images/pattern-background-mobile.svg");
  background-size: cover;
}

/*******************
***Container flex***
********************/

.container {
  max-width: 375px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
}

/********************
***Summary section***
*********************/

.summary {
  background-color: white;
  display: flex;
  flex-direction: column;
}
