* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-align: center;
  font-family: "Red Hat Display", sans-serif;
  border: 1px solid red;
}

body {
  background: hsl(0, 0%, 100%);
  min-height: 100vh;
}

main {
  max-width: 100vw;
  height: 100vh;
  background: hsl(30, 38%, 92%);
  display: grid;
  place-items: center;
  background-color: hsl(225, 100%, 98%);
}

/*******************
***Flex container***
********************/

.container {
  max-width: 375px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
}

/***************************
***Summary section - main***
****************************/

.summary {
  background-color: white;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.item {
  margin: 1rem;
}

.price {
  display: flex;
}

/****************************
***Summary section - items***
*****************************/

p.item {
  color: hsl(224, 23%, 55%);
  font-weight: 700;
  line-height: 1.75;
}

.annual::before {
  content: url("./images/icon-music.svg");
}
